---
import Base from '@/layouts/Base.astro';
import PostHeader from '@/components/PostHeader.astro';
import PostContent from '@/components/PostContent.astro';

const { frontmatter } = Astro.props;
---

<Base head={{ title: frontmatter.title, description: frontmatter.description }}>
	<div id="content" class="mx-auto w-full max-w-screen-md">
		<PostHeader
			title={frontmatter.title}
			author={frontmatter.author}
			tags={frontmatter.tags}
			minutesRead={frontmatter.minutesRead}
			pubDate={frontmatter.pubDate}
			img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
		/>
		<PostContent>
			<slot />
		</PostContent>
		<script define:vars={{ articleId: frontmatter.id }}>
			// Check if 'dark-mode' is set to 'true' in localStorage
			const isDarkMode = localStorage.getItem('dark-mode') === 'true';

			// Create the script element
			const script = document.createElement('script');
			script.async = true;
			script.src = 'https://comments.app/js/widget.js?3';
			script.setAttribute('data-comments-app-website', '9p9QNro3');
			script.setAttribute('data-limit', '10');
			script.setAttribute('data-colorful', '1');
			script.setAttribute('data-dislikes', '1');
			script.setAttribute('data-page-id', articleId);

			// Conditionally add the data-dark attribute
			if (isDarkMode) {
				script.setAttribute('data-dark', '1');
			}

			// Append the script to the document head or body
			document.getElementById('content').appendChild(script);
		</script>
		<!-- <script
			async
			src="https://comments.app/js/widget.js?3"
			data-comments-app-website="9p9QNro3"
			data-limit="10"
			data-colorful="1"
			data-dislikes="1"
			data-page-id={Astro.url}></script> -->
	</div>
</Base>
