---
import Base from '@/layouts/Base.astro';
import PostHeader from '@/components/PostHeader.astro';
import PostContent from '@/components/PostContent.astro';

const { frontmatter } = Astro.props;
---

<Base head={{ title: frontmatter.title, description: frontmatter.description }}>
	<div class="mx-auto w-full max-w-screen-md">
		<PostHeader
			title={frontmatter.title}
			author={frontmatter.author}
			tags={frontmatter.tags}
			minutesRead={frontmatter.minutesRead}
			pubDate={frontmatter.pubDate}
			img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
		/>
		<PostContent><slot /></PostContent>
	</div>
	<script
		async
		src="https://comments.app/js/widget.js?3"
		data-comments-app-website="9p9QNro3"
		data-limit="5"
		data-dislikes="1"
		data-outlined="1"
		data-colorful="1"
		data-dark="1"></script>
</Base>
